
li{
    display: inline-block;
}

table {
    width: 100%;
    text-align: center;
    
  }

  .izquierda{
    margin-left: 10%;
    float: left;
  }

  .derecha{
    margin-right: 15%;
    float: right;
  }
