<kendo-grid [data]="gridData">
  
  <kendo-grid-column field="nombre" title="nombre" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="Apellidos" title="Apellidos" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="telefono" title="telefono" width="250">
  </kendo-grid-column>

  <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="button" width="100" height="100" value="Editar" onclick="open()"/>
                </ng-template>
            </kendo-grid-column>
</kendo-grid>
