<!-- Compiled and minified CSS 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
-->


<h2>Order details</h2>

 <div class="izquierda">
        <ul>
            <li style="font-size: 150%" >Customer: </li>
            <li>{{Data.nombreCliente}}</li>
        </ul>


        <ul>
            <li style="font-size: 150%">Supplier: </li>
            <li>{{Data.nombreVendedor}}</li>
        </ul>
    </div>
 
    <div class ="derecha">
        <ul>
            <li style="font-size: 150%">Order date: </li>
            <li>{{Data.fechaPedido}}</li>
        </ul>
        <ul>
            <li style="font-size: 150%">Dispatch Date: </li>
            <li (click)="CambiarFecha(Data.fechaEntrega)">{{Data.fechaEntrega}}</li>
            <div id="fecha" hidden>

                <li> 

                    <input id="fechaSelect" value ="2019-01-01" type="date" name="bday">
                    <input id="horaSelect" value="00:00" type="time" name="tday">
                    <button (click) ="helow()"> Editar </button>
                  </li>


            </div>
            
        </ul>
    </div> 


    <table cdk-table [dataSource]="miLineasDePedido">

      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
      <!-- nombre Column -->
      <ng-container cdkColumnDef="nombre">
        <th cdk-header-cell *cdkHeaderCellDef>Name</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.producto.nombre}} </td>
      </ng-container>
    
      <!-- precioVenta Column -->
      <ng-container cdkColumnDef="descripcion">
        <th cdk-header-cell *cdkHeaderCellDef>descripcion</th>
        <td cdk-cell *cdkCellDef="let row">{{row.producto.descripcion}} </td>
      </ng-container>
    
      <!-- descripcion Column -->
      <ng-container cdkColumnDef="listaCategorias">
        <th cdk-header-cell *cdkHeaderCellDef>listaCategorias</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.producto.listaCategorias[0].nombre}} </td>
      </ng-container>
    
      <!-- stock Column -->
      <ng-container cdkColumnDef="cantidad">
        <th cdk-header-cell *cdkHeaderCellDef>cantidad</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.cantidad}} </td>
      </ng-container>

      <ng-container cdkColumnDef="precioUnitario">
        <th cdk-header-cell *cdkHeaderCellDef>precioUnitario</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.precioUnitario}} </td>
      </ng-container>

      <ng-container cdkColumnDef="impuestos">
        <th cdk-header-cell *cdkHeaderCellDef>impuestos</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.impuestos}} </td>
      </ng-container>
    
      <ng-container cdkColumnDef="subtotal">
        <th cdk-header-cell *cdkHeaderCellDef>subtotal</th>
        <td cdk-cell *cdkCellDef="let row"> {{row.subtotal}} </td>
      </ng-container>

      <ng-container cdkColumnDef="Acciones">
        <th cdk-header-cell *cdkHeaderCellDef>Acciones</th>
        <td cdk-cell *cdkCellDef="let row">
          <button value="Borrar" (click)="Borrar(row.idProducto)">Borrar</button>
          <button value="Editar"  (click)="Editar(row.idProducto)">Editar Linea</button>
        </td>
      </ng-container>

    </table>

    <button (click) = "Open()">Añadir Linea Pedido</button>


    <div id="NewProduct" hidden>

    <div style="margin-top: 15px" id="NuevaLineaPedido">

  <label> Escoja un producto:</label>
      <mat-form-field>
        <select matNativeControl (change)="ProductoSeleccionado($event.target.value)" placeholder="ArrayDeProductos">
          <option *ngFor="let p of ArrayDeProductos" value="{{p.id}}">
            {{p.nombre}}
          </option>
        </select>
      </mat-form-field><br>
    </div>



    <label> Descripcion:</label>
    <input id="descrip" type="text"/><br>
    <label> Lista de categorias: </label>
    <input id="categories" type="text"/><br>
    <label> Cantidad: </label>
    <input id="cantidad" (focusout) = "CalcularCantidad()" type="text"/>
    <label>Stock disponible:</label>
    <label id="stockdispo"></label><br>
    <label> Precio Unitario: </label>
    <input id="precio" (focusout) = "CalcularCantidad()" type="text"/><br>
    <label> impuestos: </label>
    <input id="impuestos" type="text" value="0.21"/><br>
    <label> Subtotal: </label>
    <p>{{SubTotal}}</p><br>


    <button (click) = "save()"> SAVE </button>

</div>


<div id="EditarPro" hidden>

 
  <label> Cantidad: </label>
  <input id="cantidadE" (focusout) = "CalcularCantidadEditar()" type="text"/>
  <label>Cantidad ampliable:</label>
  <label id="stockdispoE"></label><br>
  <label> Precio Unitario: </label>
  <input id="precioE" (focusout) = "CalcularCantidadEditar()" type="text"/><br>
  <label> Subtotal: </label>
  <p>{{SubTotalEdit}}</p><br><br>

  <button (click) = "Actualizar()"> SAVE </button>

</div>


<button (click) = "SendDate()"></button>
   
   






    

