@import url(../../../variables.css);
@import url(../../../styles.css);


.logo{
  width: 50%;
  height: 50%;
  margin: auto;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px; 

}

hr{
  background-color: var(--marron);
  height: 4px;
  margin-left: 16px;
  margin-right: 16px;
  border: none;

}

#menuicon{
  font-size: 60px;
  color: var(--marron);
  text-align: center;
  margin: auto;
  display: list-item;
  margin-top: 32px;
  margin-bottom: 32px;

  &:focus{
    outline: none;
  } 

  &:hover{
    cursor: pointer;
  }
}

.back{
  padding-top: 64px;   /*Esto puede que de problemas y no me gusta*/
  padding-bottom: 8px;

}


.sidemenu{
  position: relative;
  background: var(--blanco);
  border-radius: 8px;
  margin: auto;
  width: 80%;

  box-shadow: 6px 6px 6px var(--negroT);
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


